<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xuecheng.content.mapper.TeachplanMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xuecheng.content.model.po.Teachplan">
        <id column="id" property="id" />
        <result column="pname" property="pname" />
        <result column="parentid" property="parentid" />
        <result column="grade" property="grade" />
        <result column="media_type" property="mediaType" />
        <result column="start_time" property="startTime" />
        <result column="end_time" property="endTime" />
        <result column="description" property="description" />
        <result column="timelength" property="timelength" />
        <result column="orderby" property="orderby" />
        <result column="course_id" property="courseId" />
        <result column="course_pub_id" property="coursePubId" />
        <result column="status" property="status" />
        <result column="is_preview" property="isPreview" />
        <result column="create_date" property="createDate" />
        <result column="change_date" property="changeDate" />
    </resultMap>

    <resultMap id="selectTreeNodesMap" type="TeachplanDto">
        <id column="id" property="id"/>
        <result column="pname"         property="pname" />
        <result column="parentid"      property="parentid" />
        <result column="grade"         property="grade" />
        <result column="media_type"    property="mediaType" />
        <result column="start_time"    property="startTime" />
        <result column="end_time"      property="endTime" />
        <result column="description"   property="description"/>
        <result column="timelength"    property="timelength"/>
        <result column="orderby"       property="orderby" />
        <result column="course_id"     property="courseId" />
        <result column="course_pub_id" property="coursePubId" />
        <result column="status"        property="status"/>
        <result column="is_preview"    property="isPreview"/>
        <association property="teachplanMedia" javaType="TeachplanMedia">
            <id column="teachplan_media_id" property="id"/>
            <result column="media_id" property="mediaId"/>
            <result column="media_fileName" property="mediaFilename"/>
            <result column="teachplan_media_teachplan_id" property="teachplanId"/>
            <result column="teachplan_media_course_id" property="courseId"/>
        </association>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, pname, parentid, grade, media_type, start_time, end_time, description, timelength, orderby, course_id, course_pub_id, status, is_preview, create_date, change_date
    </sql>


    <select id="selectTreeNodes" parameterType="long" resultMap="selectTreeNodesMap">
        WITH recursive r AS (
            SELECT t.* FROM teachplan t
            UNION
            SELECT t1.* FROM teachplan t1 INNER JOIN r ON r.id = t1.parentid
        ) SELECT r.id,
                 r.pname,
                 r.parentid,
                 r.grade,
                 r.media_type,
                 r.start_time,
                 r.end_time,
                 r.description,
                 r.timelength,
                 r.orderby,
                 r.course_id,
                 r.course_pub_id,
                 r.status,
                 r.is_preview,
                 tm.media_id,
                 tm.media_fileName,
                 tm.id AS teachplan_media_id,
                 tm.teachplan_id as teachplan_media_teachplan_id,
                 tm.course_id as teachplan_media_course_id
        FROM r  LEFT JOIN teachplan_media tm ON r.id = tm.teachplan_id WHERE r.course_id = #{courseId}
        ORDER BY r.orderby
    </select>

</mapper>
